.notice.cx-notice.job-importer-notice {
	padding: 0 0 0 0;
}
.job-importer-notice a {
	display: flex;
}
.job-importer-notice a:focus {
	box-shadow: 0 0 0 0;
}
.job-importer-notice img {
	max-width: 100%;
}